<form>
    {{#if defaultAspect}}
    <div class="form-group">
        <label for="weaponAspect">Weapon Aspect:</label>
        <select name="weaponAspect">
            {{selectOptions aspectLabels selected=defaultAspect}}
        </select>
    </div>
    {{/if}}
    
    {{#if distance}}
    <div class="form-group">
        <label>Distance:</label>
        <span>{{distance}}</span>
    </div>
    {{/if}}

    {{#if ranges}}
    {{#if rangeExceedsExtreme}}
    <div class="form-group">
        <div>WARNING: Distance exceeds the extreme range for this weapon.<br/>
            Please consult with your GM before continuing this attack.</div>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Range (Max Distance):</label>
        <select name="range">
            {{selectOptions rangeLabels selected=defaultRange}}
        </select>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Aim:</label>
        <select name="aim">
            {{selectOptions aimLocations selected=defaultAim}}
        </select>
    </div>

    <div class="form-group">
        <label>Additional {{type}} Modifier:</label>
        <input type="number" name="addlModifier" value="{{defaultModifier}}" />
    </div>
</form>
